@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap");

//variables

:root {
    --color-white: #ffffff;
    --color-white-almost: #f5feff;
    --color-azure-lighter-dirty: #e8edf8;
    --color-azure-light-dirty: #dce3f5;
    --color-blue-lighter: #305dd5;
    --color-blue: #2c58d0;
    --color-blue-desaturated: #6577ae;
    --color-blue-desaturated-darker: #596c9e;
    --color-blue-dirty: #42568f;
    --color-blue-dirty-alt: #385199;
    --color-blue-dark: #1f3b8e;
    --color-blue-darker: #111d41;
    --color-purple: #aa74e2;
    --color-purple-dark: #893fd1;
    --color-turquoise-light: #daf9ff;
    --color-turquoise: #44aac0;
    --color-turquoise-lighter: #D9F8FF;
    --color-deep-gray: #F6F7F9;
    --color-text-primary: var(--color-blue-dark);
    --color-text-secondary: var(--color-blue-dirty);
    --color-text-light: var(--color-blue-desaturated);
    --color-text-title: var(--color-blue-dark);
    --color-text-subtitle: var(--color-blue-dark);
    --color-text-accent: var(--color-turquoise);
    --color-button-primary: var(--color-blue);
    --color-button-primary-text: var(--color-white);
    --color-button-primary-hover: var(--color-blue);
    --color-button-light: var(--color-white);
    --color-button-light-text: var(--color-blue-darker);
    --color-button-light-hover: var(--color-white);
    --color-slider-dots-active: var(--color-blue-dark);
    --color-slider-dots: var(--color-turquoise-light);
    --color-tagline-bg: var(--color-blue-dark);
    --color-tagline-text: var(--color-white);
    --color-header-link: var(--color-blue-dark);
    --color-header-link-alt: var(--color-blue-lighter);
    --color-header-burger-line: var(--color-blue-dark);
    --color-section-partners-bg: linear-gradient(180deg, #8bddef 0%, #d9f8ff 90.62%);
    --color-section-hiring-bg: linear-gradient(180deg, #D9F8FF 0%, #FFFFFF 100%);
    --color-section-clients-bg: linear-gradient(180deg, #0d2566 50%, #3255b1 100%);
    --color-section-clients-text: var(--color-white);
    --color-section-clients-text-shadow: var(--color-blue-dark);
    --color-section-onboarding-bg: linear-gradient(180deg, #d9f8ff 0%, #ffffff 100%);
    --color-section-onboarding-item-active: var(--color-blue-dirty-alt);
    --color-section-features-item-border: var(--color-blue-dark);
    --color-section-features-item-active-bg: var(--color-turquoise-light);
    --color-section-features-additional-bg: linear-gradient(180deg, #0d2566 0%, #3255b1 100%);
    --color-section-features-additional-text: var(--color-white);
    --color-section-nuances-item-border: var(--color-blue-dark);
    --color-section-nuances-item-bg: var(--color-white-almost);
    --color-section-nuances-item-counter-bg: var(--color-blue-dark);
    --color-section-nuances-item-counter-text: var(--color-white);
    --color-section-solutions-bg: linear-gradient(180deg, #ffffff 0%, #f6f8ff 25.57%, rgba(246, 248, 255, 0) 100%);
    --color-section-solutions-tabs-border: var(--color-azure-light-dirty);
    --color-section-solutions-tab-hover: var(--color-azure-lighter-dirty);
    --color-section-solutions-tab-active: var(--color-azure-lighter-dirty);
    --color-section-solutions-tab-counter-active-bg: var(--color-blue-desaturated-darker);
    --color-section-solutions-tab-counter-active-text: var(--color-white);
    --color-section-signup-title: var(--color-white);
    --color-section-signup-title-shadow: var(--color-blue-darker);
    --color-section-footer-bg: var(--color-azure-light-dirty);
    --color-info-list-style-bg: var(--color-blue);
    --color-info-list-text-color: var(--color-blue-dark);
    --color-features-section-bg: var(--color-turquoise-lighter);
    --color-features-info-subtitle-color: var(--color-blue-dark);
    --color-startusing-text-color: var(--color-blue-dark);
    --color-teammate-text-color: var(--color-blue-dark);
    --color-hiring-subtitle-color: var(--color-blue);
    --color-hiring-text-color: var(--color-blue-dark);
    --color-news-date-color: var(--color-blue-dark);
    --color-news-title-color: var(--color-blue-dark);
    --color-news-source-color: var(--color-blue-dark);
    --color-news-item-bg: var(--color-turquoise-lighter);
    --safezone-padding-desktop: 80px;
    --safezone-padding-desktop-s: 60px;
    --safezone-padding-tablet: 40px;
    --safezone-padding-mobile: 20px;
    --content-max-width-1920: 1440px;
    --content-max-width: 1300px;
    --button-padding-desktop: 12px 24px;
    --button-padding-desktop-s: 12px 22px;
    --button-padding-tablet: 10px 20px;
    --button-text-size-desktop: 14px;
    --button-text-size-desktop-s: 12px;
    --bigbutton-padding-desktop: 20px 100px;
    --bigbutton-padding-desktop-s: 20px 100px;
    --bigbutton-padding-tablet: 16px 80px;
    --bigbutton-text-size-desktop: 18px;
    --title-l-size-desktop: 50px;
    --title-l-size-desktop-s: 40px;
    --title-l-size-tablet-l: 38px;
    --title-m-size-desktop: 48px;
    --title-m-size-desktop-s: 32px;
    --title-m-size-tablet-l: 24px;
    --title-s-size-desktop: 40px;
    --title-s-size-desktop-s: 32px;
    --title-s-size-tablet-l: 26px;
    --title-l-height-desktop: 60px;
    --title-l-height-desktop-s: 60px;
    --title-l-height-tablet-l: 50px;
    --title-m-height-desktop: 64px;
    --title-m-height-desktop-s: 60px;
    --title-m-height-tablet-l: 48px;
    --title-s-height-desktop: 60px;
    --title-s-height-desktop-s: 50px;
    --title-s-height-tablet-l: 40px;
    --subtitle-l-size-desktop: 30px;
    --subtitle-m-size-desktop: 20px;
    --subtitle-m-size-desktop-s: 18px;
    --subtitle-m-size-tablet-l: 16px;
    --subtitle-l-height-desktop: 46px;
    --subtitle-m-height-desktop: 36px;
    --subtitle-m-height-desktop-s: 28px;
    --subtitle-m-height-tablet-l: 24px;
    --text-l-size-desktop: 20px;
    --text-l-size-tablet-l: 18px;
    --text-m-size-desktop: 16px;
    --text-m-size-tablet-l: 12px;
    --text-s-size-desktop: 12px;
    --text-l-height-desktop: 36px;
    --text-l-height-tablet-l: 32px;
    --text-m-height-desktop: 28px;
    --text-m-height-desktop-s: 22px;
    --text-m-height-tablet-l: 16px;
    --text-s-height-desktop: 24px;
    --tagline-height: 20px;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 15px;
  font-weight: 500;
  box-sizing: border-box;
}

body {
  font-family: "Spartan", sans-serif;
  background-color: var(--background-color);
}

@media only screen and (max-width: 375px) {
  html {
    font-size: 0.75rem;
  }
}